<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Footinator</title>
	<link rel="stylesheet" href="../style.css">
</head>

<body>
	<div class="container d-flex justify-content-center align-items-center">
		<div class="card">
			<div class="card-header text-center">
				<h1>Footinator</h1>
			</div>
			<div class="card-body text-center">
				<p>Pensez à un joueur de football et je vais essayer de le deviner!</p>
				<form action="/" method="post">
					<% if (showButtons) { %>
						<div class="d-flex justify-content-center">
							<button type="submit" name="reponse" value="oui" class="btn btn-primary">Oui</button>
							<button type="submit" name="reponse" value="non" class="btn btn-primary">Non</button>
						</div>
						<% } else { %>
							<button type="submit" name="commencer" value="commencer"
								class="btn btn-primary">Commencer</button>
							<% } %>
				</form>
			</div>
		</div>
	</div>
</body>

</html>