<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footballator</title>
    <link rel="stylesheet" href="chat.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
</head>
<body>
  <p>Bienvenue sur Footballinator!...</p>
    <!-- CHAT BAR BLOCK -->
    <div class="chat-bar-collapsible">
        <button id="chat-button" type="button" class="collapsible">Commencer
            <i id="chat-icon" style="color: #fff;" class="fa fa-fw fa-comments-o"></i>
        </button>

        <div class="content">
            <div class="full-chat-block">
                <!-- Message Container -->
                <div class="outer-container">
                    <div class="chat-container">
                        <!-- Messages -->
                        <div id="chatbox">
                            <h5 id="chat-timestamp"></h5>
                            <p id="botStarterMessage" class="botText"><span>Loading...</span></p>
                        </div>

                        <!-- User input box -->
                        <div class="chat-bar-input-block">
                            <div id="userInput">
                                <input id="textInput" class="input-box" type="text" name="msg"
                                    placeholder="Tap 'Enter' to send a message">
                                <p></p>
                            </div>

                            <div class="chat-bar-icons">
                                <i id="chat-icon" style="color: crimson;" class="fa fa-fw fa-sign-out"
                                    onclick="heartButton()"></i>
                                <i id="chat-icon" style="color: #333;" class="fa fa-fw fa-send"
                                    onclick="sendButton()"></i>
                            </div>
                        </div>

                        <div id="chat-bar-bottom">
                            <p></p>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <script>
        // Envoyer un message au chatbot
        function sendMessage(message) {
            fetch('/chatbot/', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({'message': message})
            })
            .then(response => response.json())
            .then(data => {
                // Ajouter la réponse du chatbot dans la boîte de chat
                let chat = document.getElementById('chat');
                let messageDiv = document.createElement('div');
                messageDiv.innerHTML = `<strong>Bot:</strong> ${data.message}`;
                chat.appendChild(messageDiv);
            });
        }

        // Envoyer le message du formulaire au chatbot
        let messageForm = document.getElementById('message-form');
        messageForm.addEventListener('submit', event => {
            event.preventDefault();
            let messageInput = document.getElementById('message-input');
            let message = messageInput.value;
            sendMessage(message);
            messageInput.value = '';
        });
    </script>
</body>

<script type="text/javascript" src="chat.js"></script>
</html>